.label {
  color: var(--color-grey-500);
  font-size: 3rem;
  font-weight: bold;
}

.input {
  border-radius: 2rem;
  box-shadow: inset 0 0 0 1px var(--ring-color, var(--color-grey-500));
  margin-top: 1rem;
  padding: 3rem 5rem;
  transition: box-shadow var(--transition-ease);
  width: 100%;
  &:focus-visible {
    --ring-color: var(--color-grey-900);
  }
}
