.container {
  display: grid;
  gap: 3rem;
  margin-bottom: 8rem;
  @media (width >= 640px) {
    gap: 6rem;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (width >= 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
  p {
    background-color: var(--color-white);
    border-radius: 3rem;
    padding: 5rem;
    @media (width >= 768px) {
      padding: 6rem;
    }
    &:first-child {
      background-color: var(--color-grey-900);
      color: var(--color-white);
    }
  }
  span {
    color: var(--color-grey-500);
  }
  strong {
    display: block;
    font-size: 8rem;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 3rem;
  }
}
